<% action_url = (action == :new) ? cats_url : cat_url(cat) %>

<form action="<%= action_url %>" method="POST">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label for="cat_name">Name:</label>
  <input type="text" name="cat[name]" value="<%=@cat.name%>" id="cat_name"/>
  <br>

  <label for="cat_sex_male">Male</label>
  <input type="radio" name="cat[sex]" <%="checked" if @cat.sex == "M"%> id="cat_sex_male" value="M">
  <label for="cat_sex_female">Female</label>
  <input type="radio" name="cat[sex]" <%="checked" if @cat.sex == "F"%> id="cat_sex_female" value="F">

  <br>
  <label for="cat_coat_color">Color</label>

  <select name="cat[color]" id="cat_coat_color">
    <% colors = ["calico", "white", "black", "gold"] %>
    <% colors.each do |color| %>
        <option value=<%= color %> <%="selected" if @cat.color == color%>><%= color.capitalize %></option>
    <% end %>
  </select>

  <br>

  <label for="cat_description">Description:</label>
  <input type="textarea" name="cat[description]" value="<%=@cat.description%>" id="cat_description"/>

  <br>
  <label for="birth_date">Birth date:</label>
  <input type="date" name="cat[birth_date]" value="<%=@cat.birth_date%>" id="birth_date">

  <br>

  <input type="submit" value="Submit"/>
</form>
